<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>O Nás</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="aboutstyle.css">
        <link rel="stylesheet" href="transition.css">
        <script src="https://kit.fontawesome.com/d2fc3e6d80.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {% extends 'layout.html.twig' %}
        
        {% block content %}

        <div class="transition transition1 is-active"></div>

        <div class="bars">
            <img src="{{ asset('build/images/logo2.svg') }}" class="logo-mobile"></img>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            </div>

            <nav class="mobile">
                <a href="../Index/index.html" class="page-link">Domů</a>
                <a href="../About/about.html" class="page-link">O Nás</a>
                <a href="../Contact/contact.html" class="page-link">Kontakt</a>
                <a href="../Prices/prices.html" class="page-link">Ceník</a>
                <a href="../Service/service.html" class="page-link">Služby</a>
                <a href="../Giftcard/giftcard.html" class="page-link">Dárkové balíčky</a>
            </nav>
        
        
        <nav id="desktop">            
            <div class="container">
                <div class="left-container">
                    <ul class="nav-left">
                        <li><a href="../Index/index.html" class="underline">Domů</a></li>
                        <li><a href="../About/about.html" class="underline">O Nás</a></li>
                        <li><a href="../Contact/contact.html" class="underline">Kontakt</a></li>
                    </ul>
                </div>
                <img src="logo2.svg" class="logo"></img>
                <div class="right-container">
                    <ul class="nav-right">
                        <li><a href="../Prices/prices.html" class="underline">Ceník</a></li>
                        <li><a href="../Service/service.html" class="underline">Služby</a></li>
                        <li><a href="../Giftcard/giftcard.html" class="underline">Dárkové balíčky</a></li>
                    </ul>
                </div>
            </div>
        </nav>

            <section class="first">

                <div class="page1">
                    <img src="{{ asset('build/images/dorn.jpg') }}" class="salon-img">
                    <div class="page-content">
                        <h1>O Nás</h1>
                        <p class="text1">
                             Jsme Anička salón, tým kvalifikovaných odborníků v oblasti zdravé výživy, hubnutí <span class="numbers">&</span> dornovy metody.  Působíme v Plzni již od roku <span class="numbers">2005</span> a za tuto dobu jsme nasbírali <span class="numbers">17</span> let praxe. Pomáháme lidem zdravě žít. </p>
                    </div>
                </div>

            </section>

            <section class="second">

                <div class="page2">
                    <div class="page2-content">
                        <h2>Naše Vize</h2>
                        <p class="text2">
                            My v Anička Salónu, věříme že ve zdravém těle zdravý duch. Nabízíme služby různého druhů, jako např. kosmetické ošetření, relaxační masáže, hubnoucí programy a terapie. Věříme také že zákazník má vždy pravdu, a vždy Vám rádi vyjdeme vstříc. Proto neváhejte a kontaktuje Nás i v akutních situacích.
                        </p>
                    </div>
                    <img src="{{ asset('build/images/massage.jpg') }}" class="salon-img">
                </div>

            </section>


            <section class="third">

                <div class="page3">
                    <h3>Navštivte Nás!</h3>
                    <div class="img-container">
                        <img src="{{ asset('build/images/massage3.jpg') }}" class="visit-img">
                        <img src="{{ asset('build/images/waitingroom2.jpg') }}" class="visit-img">
                        <img src="{{ asset('build/images/massage4.jpg') }}" class="visit-img">
                        <p class="text3">
                            Oslovili jsme Vás? Neváhejte a navštivte Nás na ulici Karlovarská <span class="numbers">30</span> Plzeň.
                            Nebo se můžete objednat na tel. čísle <span class="numbers">777 668 781</span>.
                        </p>
                    </div>
                </div>
    
            </section>

                    <footer>
                        <div class="footer-content">
                            <div class="footer-info">
                            <p class="name">Anička Salón Plzeň Karlovarská <span class="numbers">30</span> </p> 
                             <p>kontakt@anickasalon.cz</p> 
                          </div>
                        </div>
                          <div class="facebook-link">
                            <a href="https://www.facebook.com/Salon-Ani%C4%8Dka-878907282235570" target="_blank" class="fb-link"><i class="fa-brands fa-facebook-f"></i></a>
                          </div>
                    </footer>                    

         <script src="aboutscript.js"></script>            
    </body>